/* $Id */

/**
 * @todo how can I handle the background offset ?
 * @todo theme without using the template code (maybe D6 is easier)
 * @todo test on all major browser since I messed allready with the original css
 */

/* add important to override folks using admin_menu */
body { margin: 0 !important; padding: 0; background: none !important; }

.imagecrop_tab {
  height: 20px;
  padding: 0px 5px 0px 5px;
  border: 1px solid black;
}
.imagecrop_highlight, .imagecrop_highlight {
  background-color: silver;
}

.imagefield-crop-wrapper { 
  background-color: #ccc;)
  position: absolute;
}

#image-crop-container{
	position: relative;
	background-color: #ccc;
	background-repeat: no-repeat;
	opacity:.2;
	filter: alpha(opacity=20);-moz-opacity: 0.2;
}


#resizeMe{
  position: absolute;
  cursor: move;
  background-position: 0 0;
  background-repeat: no-repeat;
  border: 1px dashed black;
}

#resizeSE,
#resizeE,
#resizeNE,
#resizeN,
#resizeNW,
#resizeW,
#resizeSW,
#resizeS { 
  position: absolute;
  width: 8px;
  height: 8px;
  background-color: #333;
  border: 1px solid #fff;
  overflow: hidden;
}
    #resizeSE{bottom: -10px;right: -10px;cursor: se-resize;}
    #resizeE {top: 50%;right: -10px;margin-top: -5px;cursor: e-resize;}
    #resizeNE{top: -10px;right: -10px;cursor: ne-resize;}
    #resizeN {top: -10px;left: 50%;margin-left: -5px;cursor: n-resize;}
    #resizeNW{top: -10px;left: -10px;cursor: nw-resize;}
    #resizeW {top: 50%;left: -10px;margin-top: -5px;cursor: w-resize;}
    #resizeSW{left: -10px;bottom: -10px;cursor: sw-resize;}
    #resizeS{bottom: -10px;left: 50%;margin-left: -5px;cursor: s-resize;}

